body {
    margin: 0;
    padding: 0;
    font-family: 'arial narrow';
    font-size: 18px;
}
.form-control {
    font-size: 1em;
    height: 2em;
    margin-bottom: 5px;
}
.form-control-label {
    font-size: 1em;
    line-height: 2em;
    height: 2em;
}
.btn {
    font-size: 1em;
    line-height: 1.2em;
    height: 2em;
}
.btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
}
.btn-secondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.landing-page-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.cc-absolute-loading {
    width: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12em;
}
.cc-absolute-loading .fa {
    font-size: 4em;
    color: #888888;
}