<div class="cc-routes-users-edit landing-page">
	<div class="inner landing-page-inner">
		<div class="container-fluid">
			<div class="row errors">
				<div class="col-xs-12">
					<cc-site-alert [alerts]="alerts"></cc-site-alert>
				</div>
			</div>
			<div *ngIf="loaded == true" class="loaded">
				<div class="row id">
					<div class="col-xs-3">ID</div>
					<div class="col-xs-9"><input type="text" value="{{ user._id }}" disabled="true" class="form-control"></div>
				</div>
				<div class="row email">
					<div class="col-xs-3">Email</div>
					<div class="col-xs-9"><input type="text" [(ngModel)]="user.email" class="form-control"></div>
				</div>
				<div class="row password">
					<div class="col-xs-3">Password</div>
					<div class="col-xs-9"><input type="password" [(ngModel)]="user.password" class="form-control"></div>
				</div>
				<div class="row name">
					<div class="col-xs-3">Name</div>
					<div class="col-xs-3">
						<input type="text" [(ngModel)]="user.name.first" placeholder="First Name" class="form-control">
					</div>
					<div class="col-xs-3">
						<input type="text" [(ngModel)]="user.name.middle" placeholder="Middle Name" class="form-control">
					</div>
					<div class="col-xs-3">
						<input type="text" [(ngModel)]="user.name.last" placeholder="Last Name" class="form-control">
					</div>
				</div>
				<div class="row image">
					<div class="col-xs-3">Profile Image</div>
					<div class="col-xs-9">
						<input type="text" [(ngModel)]="user.image" placeholder="http://" class="form-control">
					</div>
				</div>
				<div *ngIf="currentUser.user.isAdmin()" class="row roles">
					<div class="col-xs-3">Access</div>
					<div class="col-xs-9">
						<input type="checkbox" class="form-control"
							[checked]="user.roles.indexOf('admin') > -1"
							(change)="changePermission('admin')" />
						Admin
						<input type="checkbox" class="form-control"
							[checked]="user.roles.indexOf('user') > -1"
							(change)="changePermission('user')" />
						User
						<input type="checkbox" class="form-control"
							[checked]="user.roles.indexOf('anonymous') > -1"
							(change)="changePermission('anonymous')" />
						Anonymous
					</div>
				</div>
				<div *ngIf="!currentUser.user.isAnonymous()" class="row submit">
					<div class="col-xs-3">
						<button class="btn btn-success form-control" (click)="save()">Save Changes</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>