<div class="cc-site-menu-main component">
	<div class="inner component-inner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6 left">
					<div class="menu">
						<div class="menu-item home">
							<span class="fa fa-home" aria-hidden="true"></span>
							<a routerLink="/">Home</a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 right">
					<div class="menu">
						<div class="menu-item profile">
							<div class="dropdown">
  							    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
	  							    <span *ngIf="currentUser.isRegistered()" class="fa fa-user" aria-hidden="true"></span>
							        <span *ngIf="currentUser.isRegistered()">{{ currentUser.email }}</span>
	  							    <span *ngIf="!currentUser.isRegistered()" class="fa fa-user-secret" aria-hidden="true"></span>
							        <span *ngIf="!currentUser.isRegistered()">Anonymous</span>
									<span><span class="caret"></span></span>
								</button>
								<ul class="dropdown-menu">
									<li *ngIf="currentUser.isAdmin()">
										<a routerLink="/admin">
											<span class="fa fa-cog" aria-hidden="true"></span>
											<span class="text">Site Administration</span>
										</a>
									</li>
									<li *ngIf="currentUser.isRegistered()"><a href="#" (click)="logout()">Logout</a></li>
								</ul>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
