.password-reset-component .login.row {
    max-width: 40em;
}
.password-reset-component .login input {
    width: 100%;
}
.password-reset-component .login button {
    width: 100%;
}
.password-reset-component .request-result {
    margin-top: 2em;
}
.password-reset-component .alert {
    font-size: 0.75em;
}
.password-reset-component .reset-form {
    margin-top: 2em;
    max-width: 40em;
}
.password-reset-component .reset-form input {
    width: 100%
}
.password-reset-component .reset-form button {
    width: 10em;
}
.password-reset-component .result-result {
    margin-top: 1em;
    margin-bottom: 1em;
}
