<div class="cc-login component widget">
	<div class="inner component-inner widget-inner">
		<div class="row email">
			<div class="col-xs-4">Email</div>
			<div class="col-xs-8"><input name="email" [(ngModel)]="name" class="form-control" /></div>
		</div>
		<div class="row password">
			<div class="col-xs-4">Password</div>
			<div class="col-xs-8"><input type="password" name="password" [(ngModel)]="password" class="form-control" /></div>
		</div>
		<div *ngIf="options.display.button != false" class="row login">
			<div class="col-xs-12">
				<button (click)="logIn()" class="form-control">Login</button>
			</div>
		</div>
	</div>
</div>
